<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vikmans</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#top">Vikmans</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="top">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/about">About</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div id="header-section" align ="center">
    <img src="/assets/3.jpg" alt="Smiley face" height="140px" width="180px">
    <img src="/assets/img_header1.gif" alt="Smiley face" height="140px" width="950px">
    </div>




    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" align ="center">
                <h1 class="page-header">Scanners
                    
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Product One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/assets/s2.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Scanners : Document Scanners</h3>
                <h4></h4>
                <p>Document scanners are designed to convert large amounts of single-sided and double-sided paper documents into images. Originals can be in color and black and white, and vary in size from a bank check up to 11x17 or larger. Based on the number of sides scanned in a single pass may be referred to as Simplex or Duplex.
<br><br><hr>
Depending on the volume of paper a document scanner can handle it can be classified as low, medium high or production scanner. With the large number of document scanners available in the market, selecting an ideal scanner can be confusing.
<br><br>
These scanner can be broadly classified into further categories.</p>
                <a class="btn btn-primary" href="/request">View Details <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Product Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/assets/s1.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3 font-style="arial">Scanners : A0 Wide Format</h3>
                <h4></h4>
                <p>
                    Use of wide format scanning is becoming more and more important as technology moves towards digital storage and digital printing.We have a large range of these scanners and in different sizes. Click on the model to see full details.
                    
                    From its inception as a quick and accurate way to copy blueprints and architectural drawings, it’s evolved into a tool for an ever broadening range of technical and creative applications. 
                    <br><br><hr>The technical side includes blueprints, mechanical drawings and other technical documents and creative side includes photographs, posters, paintings, drawings, and fine art applications. Wide format scanning is also useful for working with historically delicate parchments and materials, such as old newspapers.<br><br>
                    We have a large range of these scanners and in different sizes.
                </p>
                <a class="btn btn-primary" href="/request">View Details <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Product Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/assets/s3.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3> Scanners : Microfilm Cameras</h3>
                <h4></h4>
                <p>Conservation through microfilming is the technically simple and economical way to ensure long term archival of important documents in a small space. Currently, other digital storage medium (CD, DVD, HDD, Tape) cannot attain the Microfilm's rapprochement shelf life. Therefore, the microfilming is securing long term archival of library material, despite the rapid development of digital storage media will also be indispensable in future.
                    <br><br><hr>

 We offer scanners for scanning of all kinds of your documents (books, registers, drawings, office documents, maps or land records) and exposing them on the Microfilms in a secured way, at competitive pricing without compromising on high quality required in Microfilm creation.
<br><br></p>
                <a class="btn btn-primary" href="/request">View Details <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer align="center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Vikmans</p>
                </div>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
